.headingCommon{
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 80px;
  width: 100%;
  max-width: 1140px;
  background-color: white;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  margin: 0x auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);



  .logo-space {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
 
    .header-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
  .commonHeadingContents{
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;



    .info{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0;
      margin-right: 30px;
      line-height: 80px;

      &>li {
        width: 150px;
        color: black;
        text-align: center;
        list-style-type: none;
        margin: 0 7px;
        position: relative;

      &:hover {
        text-decoration: underline;

      }



        a{
            color: #EC7357;
            font-size: 15px;
            font-weight: 900;
            line-height: 60px;
            display: block;

          text-decoration: none;
        }

      }

    }
  }


}
