/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
 $pc: 1024px; // PC
$tab: 787px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

 @import "bootstrap";
 .show{
  display: block !important;
}
 body{
   &.active{

  position: fixed;
   }
   .heading{
     @include sp{
       display: none;
     }
   }
   .headingCommon{
     @include sp{
       display: none;
     }
   }
   .smart-heading{
     display: none;
     @include sp{
       display: flex;
     }
   }

   margin: 0;
   .flash {
     text-align: center;
     margin: 0;
     transition: all 1s ease;
     padding: 0;
     height: 40px;
     border: 0;
     line-height: 40px;

    .flash-text{
      transition: all 1s ease;
    }
   }


}
