<div class="footer">
        <div class="social-media">
            <a href="https://www.instagram.com/experience.wa.japan/?hl=ja"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.facebook.com/ExperienceWesternAustraliaJapan/?modal=admin_todo_tour"><i class="fab fa-facebook-square fa-3x"></i></a>
        </div>
        <h5>© 2020 Experience Western Australia Japan Pty Ltd .,</h5>
</div>