

<div class="signup-section">
  <div id="sign-up" class="show-up">
    <%=render "users/registrations/sign_up"%>
  <div id="log-in">
    <%=render "users/sessions/log_in"%>
  </div>
  
</div>
<%= javascript_include_tag "users/registrations/new" %>