<div class="signup-section">
    <div id="sign-up" class="show-up">
        <%=render "users/registrations/sign_up"%>
    <div id="log-in">
      <%=render "users/sessions/log_in"%>
    </div>
</div>
<% content_for(:body_attributes) do %>
data-turbolinks="false"
<% end %>
<%= javascript_include_tag "users/registrations/new" %>
